@{
Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Evento

<body>

					<div class="container" style="padding-bottom: 10%; padding-right:10%; padding-left:10%; padding-top:2%;">
						
            <section  class="col-8 col-12-narrower">
								<h3 align="center" style="font-size: 40px;">Crear Evento</h3>
								<form method="post" asp-controller="Evento">
									<div class="row gtr-50">
										<div class="col-12 col-12-mobilep">
                      <label class="col-12 col-12-mobilep">Nombre del Evento</label>
											<input type="text" name="name" id="name" placeholder="Ingrese el nombre" />
										</div>
                    <div class="col-8 col-12-mobilep">
                      <label class="col-8 col-12-mobilep">Categoría</label>
                       <select name="combx" asp-for="CategoriaId" id="name">
                            <option name="combx" value="">--- Seleccionar categoria</option>
                         @foreach(var cat in (List<Categoria>)ViewBag.Categorias)
                           {
                            <option name="combx" value="@cat.Id">@cat.NombreCategoria</option>
                            }                                                                                                                    
                      </select>										
										</div>
                    <div class="col-4 col-12-mobilep">
                      <label class="col-4 col-12-mobilep">Horario</label>
											<select name="combx" id="name">
                        <option name="combx" value="">--- Seleccionar Horario</option>
                        <option value="SABATINO">SABATINO</option>
                        <option value="L-MI">L-MI</option>
                        <option value="MI-VI">MI-VI</option>
                        <option value="M-J">M-J</option>  
                      </select>
										</div>
										<div class="col-4 col-12-mobilep">
                      <label class="col-4 col-12-mobilep">Fecha inicio</label>
											<input type="date" name="email" id="email" placeholder="Fecha de inicio" />
										</div>
                     <div class="col-4 col-12-mobilep">
                      <label class="col-4 col-12-mobilep">Fecha Fin</label>
											<input type="date" name="email" id="email" placeholder="Fecha fin" />
										</div>
                    <div class="col-4 col-12-mobilep">
                      <label class="col-3 col-12-mobilep">Inversion</label>
											<input type="email" name="email" id="email" placeholder="Inversion" />
										</div>
                    <div class="col-4 col-12-mobilep">                      
                      <label class="col-4 col-12-mobilep">Hora Inicio</label>
											<input type="time" name="email" id="email" placeholder="Horar Inicio" />
										</div>
                   
                    
										 <div class="col-4 col-12-mobilep">
                       <label class="col-4 col-12-mobilep">Hora Fin</label>
											<input type="time" name="email" id="email" placeholder="Horar Fin" />
										</div>
                     
                    <div class="col-4 col-12-mobilep">
                      <label class="col-3 col-12-mobilep">Stock</label>
											<input type="email" name="email" id="email" placeholder="Stock Participantes" />
										</div>
                    
                    <div class="col-8 col-12-mobilep">
                       <label class="col-8 col-12-mobilep">Instructor</label>
											<input type="email" name="email" id="email" placeholder="Instructor" />
										</div>
										<div class="col-12">
                      <label class="col-12 col-12-mobilep">Descripción</label>
											<textarea name="message" id="message" placeholder="Ingrese una descripción sobe el Evento" rows="5"></textarea>
										</div>
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit"  class="button alt create" value="Registrar" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
						
					</div>
 
</body>
  
