@model Models.Evento

<body>

		<div class="container" style="padding-bottom: 10%; padding-right:10%; padding-left:10%; padding-top:2%;">						
            <section  class="col-8 col-12-narrower">
				<div class="row gtr-50">
                    <div class="col-6 col-12-mobilep">
                        <h2>@Html.DisplayTextFor(Models => Models.NombreEvento)</h2>
				    </div>
                </div>				
			</section>
						
		</div>
        <br><br>
          
</body>