@{
var evento = TempData["nom_evento"] as string;
var cantidad = TempData["nro_participante"] as int?;
}

@model List<Pago>

    <link rel="stylesheet" type="text/css"
        href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css"
        href="~/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css"
        href="~/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/css/tableutil.css">
    <link rel="stylesheet" type="text/css" href="~/css/tableconfirmados.css">
    <link rel="stylesheet" href="~/css/main.css" />

    <div class="limiter">
        <br><h3 align="center" style="font-size: 40px;">Pagos Pendientes</h3>
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column">Codigo Boleta</th>
                                <th class="column">Monto pagado</th>
                                <th class="column">Costo del EVento</th>
                                <th class="column">Fecha emision</th>
                                <th class="column">Fecha inicio</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model){
                            <tr>
                                <td class="column">@p.Boleta.cod_boleta</td>
                                @foreach (var c in ViewBag.cd)
                                {
                                    <td class="column">@c <br></td>
                                }
                                @foreach (var m in ViewBag.mc)
                                {
                                    <td class="column">@m <br></td>
                                }
                                <td class="column">@p.Boleta.fec_emi</td>
                                <td class="column">@p.Boleta.montocursos_detalle</td>
                            </tr>}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/js/table.js"></script>