@{
    ViewData["Title"] = "About";
}


<br><br><br>


<link rel="stylesheet" href="~/css/cursos.css" />

<div class="row ">
<div class="col-md-1">
</div>
  <div class="col-md-5 well categoria categoria-cursos fila1">
	<h3>Desarrollo Personal</h3>
		<div class="list-group">					
			<a href="" class="list-group-item">
				<h5 class="list-group-item-heading">El camino del Agile Coach</h5>
					<p class="list-group-item-text">
					</p>
			</a>
								
			<a href="" class="list-group-item">
				<h5 class="list-group-item-heading">Agile Team Facilitator </h5>
					<p class="list-group-item-text">
					</p>
			</a>
								
			<a href="" class="list-group-item">
				<h5 class="list-group-item-heading">Certified Scrum Master </h5>
					<p class="list-group-item-text">
					</p>
			</a>											
		</div>
   </div>

   <div class="col-md-5 well categoria categoria-clientes fila2">
    <h3>Equipos y Organizaciones</h3>
		<div class="list-group">					
			<a href="" class="list-group-item">
				<h5 class="list-group-item-heading">Management y liderazgo</h5>
					<p class="list-group-item-text">
					</p>
			</a>
								
			<a href="" class="list-group-item">
				<h5 class="list-group-item-heading">Potenciando la Distribucion Continua</h5>
					<p class="list-group-item-text">
					</p>
			</a>
								
			<a href="" class="list-group-item">
				<h5 class="list-group-item-heading">Proyectos Agiles con Scrum</h5>
					<p class="list-group-item-text">
					</p>
			</a>											
		</div>
   </div>

</div>


<div class="row">
<div class="col-md-1">
</div>
<div class="col-md-5 well categoria categoria-clientes fila3">
    <h3>Desarrollo de Software</h3>
		<div class="list-group">					
			<a href="" class="list-group-item">
				<h5 class="list-group-item-heading">Agile Architectura Workshop </h5>
					<p class="list-group-item-text">
					</p>
			</a>
								
			<a href="" class="list-group-item">
				<h5 class="list-group-item-heading">Agile Testing</h5>
					<p class="list-group-item-text">
					</p>
			</a>
								
			<a href="" class="list-group-item">
				<h5 class="list-group-item-heading">Certified Scrum Developer</h5>
					<p class="list-group-item-text">
					</p>
			</a>

            <a href="" class="list-group-item">
				<h5 class="list-group-item-heading">Taller Practica DevOps</h5>
					<p class="list-group-item-text">
					</p>
			</a>											
		</div>
   </div>


   <div class="col-md-5 well categoria categoria-clientes fila4">
    <h3>Diseño de Productos</h3>
		<div class="list-group">					
			<a href="" class="list-group-item ">
				<h5 class="list-group-item-heading">Taller de Desing Thinking</h5>
					<p class="list-group-item-text">
					</p>
			</a>
								
			<a href="" class="list-group-item ">
				<h5 class="list-group-item-heading">Taller de Product Discovery</h5>
					<p class="list-group-item-text">
					</p>
			</a>
								
			<a href="" class="list-group-item ">
				<h5 class="list-group-item-heading">Advanced Product Owner Workshop</h5>
					<p class="list-group-item-text">
					</p>
			</a>											
		</div>
   </div>
</div>