@{
    ViewData["Title"] = "About";
}

<br><br>

<link rel="stylesheet" href="~/css/cursos.css" />


<div class="blackBg withSubtitleAndDescription">
	<div class="header-small header-catalogo"></div>

	<div class="header-description">
		<h2 class="headerTitle">Entrenamientos Privados</h2>
	</div>

</div>


<div class="container">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h3 class="mb-30">Capacitaciones</h3><br>
				</div>
			</div>
			<div class="row">
				
					<div class="col-md-3">
						<div class="well categoria categoria-clientes fila1">
							<h3>Desarrollo Personal</h3>
							<div class="list-group">
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">El camino del Agile Coach</h4>
								    <p class="list-group-item-text">
											
											</p><div class="row">
												<div class="col-md-8">
													60 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Agile Team Facilitator</h4>
								    <p class="list-group-item-text">
											
												Agile Team Facilitator <br>
											
											</p><div class="row">
												<div class="col-md-8">
													8 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Certified Scrum Master </h4>
								    <p class="list-group-item-text">
											
											</p><div class="row">
												<div class="col-md-8">
													16 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Facilitación Gráfica </h4>
								    <p class="list-group-item-text">
											
												Visual Thinking para profesionales y organizaciones <br>
											
											</p><div class="row">
												<div class="col-md-8">
													15 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Taller de Slow</h4>
								    <p class="list-group-item-text">
											
												Como elegir ritmos adecuados para prosperar en un mundo veloz. <br>
											
											</p><div class="row">
												<div class="col-md-8">
													8 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Taller del Tiempo</h4>
								    <p class="list-group-item-text">
											
												Revertí tu relación con el tiempo <br>
											
											</p><div class="row">
												<div class="col-md-8">
													8 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
							</div>
						</div>
					</div>
				
					<div class="col-md-3">
						<div class="well categoria categoria-organizaciones fila2">
							<h3>Equipos y Organizaciones</h3>
							<div class="list-group">
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">LeSS Workshop</h4>
								    <p class="list-group-item-text">
											
												Large Scale Scrum - More with LeSS <br>
											
											</p><div class="row">
												<div class="col-md-8">
													8 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Lean y Kanban en Acción</h4>
								    <p class="list-group-item-text">
											
												Mejora continua, flujo, pensamiento sistémico y la paradoja de la eficiencia <br>
											
											</p><div class="row">
												<div class="col-md-8">
													8 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Management y Liderazgo</h4>
								    <p class="list-group-item-text">
											
											</p><div class="row">
												<div class="col-md-8">
													8 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Mejora Continua con Toyota Kata</h4>
								    <p class="list-group-item-text">
											
											</p><div class="row">
												<div class="col-md-8">
													16 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Potenciando la Colaboración Distribuida</h4>
								    <p class="list-group-item-text">
											
												¡Hacia un trabajo remoto asombroso! <br>
											
											</p><div class="row">
												<div class="col-md-8">
													6 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Powerful Retrospectives for Teams</h4>
								    <p class="list-group-item-text">
											
												La llave de la mejora continua en equipo. <br>
											
											</p><div class="row">
												<div class="col-md-8">
													16 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Proyectos Ágiles con Scrum</h4>
								    <p class="list-group-item-text">
											
											</p><div class="row">
												<div class="col-md-8">
													16 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Workshop de Agilidad para Ejecutivos</h4>
								    <p class="list-group-item-text">
											
											</p><div class="row">
												<div class="col-md-8">
													4 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
							</div>
						</div>
					</div>
				
					<div class="col-md-3">
						<div class="well categoria categoria-software fila3">
							<h3>Desarrollo de Software</h3>
							<div class="list-group">
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Agile Architecture Workshop</h4>
								    <p class="list-group-item-text">
											
											</p><div class="row">
												<div class="col-md-8">
													16 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Agile Testing </h4>
								    <p class="list-group-item-text">
											
											</p><div class="row">
												<div class="col-md-8">
													6 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Certified Scrum Developer</h4>
								    <p class="list-group-item-text">
											
											</p><div class="row">
												<div class="col-md-8">
													40 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Desarrollo Ágil de Software</h4>
								    <p class="list-group-item-text">
											
											</p><div class="row">
												<div class="col-md-8">
													24 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Taller de Prácticas DevOps</h4>
								    <p class="list-group-item-text">
											
											</p><div class="row">
												<div class="col-md-8">
													4 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
							</div>
						</div>
					</div>
				
					<div class="col-md-3">
						<div class="well categoria categoria-productos fila4">
							<h3>Diseño de Productos</h3>
							<div class="list-group">
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Advanced Product Owners Workshop</h4>
								    <p class="list-group-item-text">
											
												Impulsando Product Owners estratégicos <br>
											
											</p><div class="row">
												<div class="col-md-8">
													16 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Taller de Design Thinking</h4>
								    <p class="list-group-item-text">
											
												Diseño de productos y servicios innovadores <br>
											
											</p><div class="row">
												<div class="col-md-8">
													8 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="" class="list-group-item">
								    <h4 class="list-group-item-heading">Taller de Innovación y Creatividad</h4>
								    <p class="list-group-item-text">
											
												¡Aprende a sacar conejos de tu sombrero! <br>
											
											</p><div class="row">
												<div class="col-md-8">
													8 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
								  <a href="/es/categoria/productos/cursos/238-taller-de-product-discovery" class="list-group-item">
								    <h4 class="list-group-item-heading">Taller de Product Discovery</h4>
								    <p class="list-group-item-text">
											
												Creación y mejora continua de productos más valiosos, factibles y rentables. <br>
											
											</p><div class="row">
												<div class="col-md-8">
													16 horas
												</div>
											</div>
								    	
								    <p></p>
								  </a>
								
							</div>
						</div>
					</div>
				
			</div>
		</div>
	</div>