
<link rel="stylesheet" href="~/css/cursos.css">
<body>
										
	<section id="highlights" class="wrapper style">
					<div class="title">The Endorsements</div>
					<center><h2>Desarrollo de Software</h2><center><br>
					<div class="container">
						<div class="row aln-center">
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img src="/images/curso1.jpg" alt="" /></a>
									<h3><a>Taller de Arquitectura Agil</a></h3>
									<p>Mediante el Workshop es ayudaras a los grupos IT a mejorar sus prácticas de arquitectura de software.</p>
									<ul class="actions-center">
										<a href="#" class="button style1">Detalles</a>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img src="/images/curso4.jpg" alt="" /></a>
									<h3><a>Desarrollo Agil de Software</a></h3>
									<p>Construiras un producto funcional, utilizando las prácticas ágiles más modernas de desarrollo de software.</p>
									<ul class="actions-center">
										<a href="#" class="button style1">Detalles</a>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img src="/images/curso3.jpg" alt="" /></a>
									<h3><a href="#">Certificado de Desarrollador Scrum</a></h3>
									<p>Conoceras las metodologías ágiles y las prácticas de ingeniería que garantizan la calidad de los entregables producidos.</p>
									<ul class="actionscenter">
										<a href="#" class="button style1">Detalles</a>
									</ul>
								</section>
							</div>
						</div><br><br><br>

						<div class="row aln-center">

							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a  class="image featured"><img src="/images/curso2.jpg" alt="" /></a>
									<h3><a>Agile Testing</a></h3>
									<p>Aprenderas a realizar pruebas más efectivas reduciendo el tiempo de pruebas e incrementando la calidad del producto. </p>
									<ul class="actions-center">
										<a href="#" class="button style1">Detalles</a>
									</ul>
								</section>
							</div>
						
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img src="/images/curso5.jpg" alt="" /></a>
									<h3><a>Taller de Practicas de DevOps</a></h3>
									<p>Conocerás las prácticas DevOps más difundidas y varias herramientas y patrones para su implementación.</p>
									<ul class="actions-center">
										<a href="#" class="button style1">Detalles</a>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img src="/images/curso6.jpg" alt="" /></a>
									<h3><a>Proyectos Agiles con Scrum</a></h3>
									<p>Aprenderas los principios fundamentales de las Metodologías Ágiles y de Scrum por medio de dinámicas participativas.</p>
									<ul class="actionscenter">
										<a href="#" class="button style1">Detalles</a>
									</ul>
								</section>
							</div>	
						</div>




					</div>
				</section>


				
</body>

