

	<body class="is-preload">
		<div id="page-wrapper">		

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Capacitaciones Personalizados</h2>
						<a href="/Usuario/Login" class="button">Iniciar Sesión</a>
					</header>
				</section>

			<!-- Highlights -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row gtr-200">
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<i class="icon solid major fa-paper-plane"></i>
									<h3>Facilitacion</h3>
									<p>Diseñamos ambientes para potenciar el trabajo en equipo en reuniones y eventos.</p>
								</div>
							</section>
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<i class="icon solid major fa-pencil-alt"></i>
									<h3>Agilidad Organizacional</h3>
									<p>Acompañamos a organizaciones y equipos para obtener mejores resultados.</p>
								</div>
							</section>
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<i class="icon solid major fa-wrench"></i>
									<h3>Cursos</h3>
									<p>Capacitamos a profesionales a través de técnicas de aprendizaje colaborativo y participativo.</p>
								</div>
							</section>
						</div>
					</div>
				</section>

			<!-- Gigantic Heading -->
				<section class="wrapper style2">
					<div class="container">
						<header class="major">
							<h2>En ABC creamos ambientes humanos más conscientes y asombrosos.</h2>
							<p>Metodologias Agiles</p>
						</header>
					</div>
				</section>

			<!-- Posts -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row">
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="#" class="image left"><img src="/images/imagen1.jpg" alt="" /></a>
									<div class="inner">
										<h3>Dinamicas y Eventos</h3>
										<p>Diseñamos ambientes que generan sinergia entre las personas. Nos enfocamos en la participación activa y la creación de ideas y soluciones.</p>
									</div>
								</div>
							</section>
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="#" class="image left"><img src="/images/imagen3.jpg" alt="" /></a>
									<div class="inner">
										<h3>Facilitación Gráfica</h3>
										<p>Utilizamos lenguaje gráfico para ilustrar charlas, reuniones, conferencias y resultados de las actividades de equipos de trabajo.</p>
									</div>
								</div>
							</section>
						</div>
						<div class="row">
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a  href="#"class="image left"><img src="/images/imagen2.jpg" alt="" /></a>
									<div class="inner">
										<h3>Planificación Estratégica</h3>
										<p>Jornadas donde equipos multidisciplinarios trabajan en forma iterativa e incremental para lograr un mismo objetivo.</p>
									</div>
								</div>
							</section>
							<section class="col-6 col-12-narrower">
								<div class="box post">
									<a href="#" class="image left"><img src="/images/imagen4.jpg" alt="" /></a>
									<div class="inner">
										<h3>Innovación y Creatividad</h3>
										<p>Realizamos encuentros para potenciar tanto la creación de más y mejores ideas como su ejecución y puesta en práctica.</p>
									</div>
								</div>
							</section>
						</div>
					</div>
				</section>

				

		</div>

	</body>
