#page-wrapper > section {
    margin-bottom: 0;
}
.wrapper.style{
    background-color:#FFE4C4;
    color: #484d55;
}
.wrapper .title {
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    letter-spacing: 0.25em;
    font-size: 0.9em;
    width: 25em;
    height: 3.25em;
    top: -3.25em;
    line-height: 3.25em;
    margin-bottom: -3.25em;
    margin-left: -12.5em;
    padding-top: 0.5em;
}

#highlights .highlight {
    text-align: center;
}
/* Image */

.image {
    display: inline-block;
}

    .image img {
        display: block;
        width: 100%;
    }

    .image.fit {
        display: block;
        width: 100%;
    }

    .image.left {
        float: left;
        margin: 0 2em 2em 0;
    }

    .image.centered {
        display: block;
        margin: 0 0 2em 0;
    }

        .image.centered img {
            margin: 0 auto;
            width: auto;
        }

    .image.featured {
        display: block;
        width: 100%;
        margin: 0 0 2em 0;
    }

    .wrapper.style5 {
        background-color: #9bd186;
        
    }