
#main .major h2 {
    background: #f7f7f7 url(images/bg02.png);
}


header.major {
    margin: 0.75em 0 2.5em 0;
}
header.major {
    position: relative;
    text-align: center;
    border-top: solid 1px #ccc;
    top: 1em;
    margin: 0 0 3em 0;
}
header {
    margin: 0 0 1.5em 0;
}



header.major h2 {
    padding: 0 1em 0 1em;
}
header.major h2 {
    background: #fff;
    position: relative;
    top: -0.65em;
    display: inline;
    margin: 0;
    padding: 0 1em 0 1em;
}
.letra {
    font-size: 1.5em;
}

.image img {
    display: block;
    width: 100%;
}
section > :last-child, section:last-child, article > :last-child, article:last-child {
    margin-bottom: 0;
}
section > :last-child, section:last-child, article > :last-child, article:last-child {
    margin-bottom: 0;
}
.box {
    background: #ffffff;
    border-bottom: solid 1px #ccc;
    padding: 2.75em 1.75em 2.75em 1.75em;
}
section, article {
    margin-bottom: 2.5em;
}

h3 {
    font-size: 1.35em;
}
.button.alt {
    background-color: #555555;
    color: #fff;
}