@model Login

<link rel="stylesheet" href="~/css/login.css">

<body>
    
    <div class="container">
        <br>
        <div class="row" >
            <div class="col-md-5">
            </div>
            <div class="col-md-6">
                <div id="login">
                    <h5>Iniciar Sesión</h5>
                
                    <form method="post" asp-controller="Usuarios" asp-action="Login" style="center">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Usuario</label>
                            <input type="text" class="form-control" id="input"
                                name="user" aria-describedby="emailHelp"
                                placeholder="Ingresar usuario" required>
                            <small id="emailHelp" class="form-text text-muted">Nunca
                                compartiremos tu correo con alguien mas</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Contraseña</label>
                            <input type="password" class="form-control"
                                name="pass" id="input" placeholder="Ingresar contraseña" required>
                        @{
                        if(TempData["Message"]!=null){
                        <small id="error" style="color:red ">@TempData["Message"]</small>
                        }
                        }
                        </div>
                        <br>
                        <input type="submit" href="" class="button alt create" value="Ingresar" />
                        <a href="/Usuario/Registrar" class="button">Crear cuenta</a>
                        <br><br>
                        <center>
                        <a id="forgot" asp-action="RecuperarC"> ¿Has olvidado tu constraseña?
                        </a><center>
                    </form>
                </div>
            </div>
             
            
        </div>
        
    </div><br>
            
</body>