@model Usuario

<link rel="stylesheet" href="~/css/login.css">
<body>
    
    <div class="container">
            </div>
            <div class="col-md-6">
                <div id="login">
                    <h5>Iniciar Sesión</h5>
                
                    <form method="post" asp-controller="Usuarios" asp-action="Login" style="center">
                        <div class="form-group">
                        }
                        }
                        </div>
                        <br>
                        <input type="submit" href="" class="button alt create" value="Ingresar" />
                        <a href="/Usuario/Registrar" class="button">Crear cuenta</a>
                        <br><br>
                        <center>
                        <a id="forgot" asp-action="RecuperarC"> ¿Has olvidado tu constraseña?
                        </a><center>
                    </form>
                </div>
</body>