
<link rel="stylesheet" href="~/css/cursos.css">
<body>
										
<section id="main">
<br>
					<div class="container">
						<div class="row">
							<div class="col-12">

								<!-- Portfolio -->
									<section><br>
										<header class="major">
											<h2 class="letra">Desarrollo de Software</h2>
										</header>
										<div class="row">
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="/images/curso1.jpg" alt=""></a>
													<header>
														<h3>Taller de Arquitectura Agil</h3>
													</header>
													<p>Mediante el Workshop es ayudaras a los grupos IT a mejorar sus prácticas de arquitectura de software.</p>
													<footer>
														<ul class="actions">
															<li><a href="/Curso/DCurso1" class="button alt">Ver detalles</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="/images/curso4.jpg" alt=""></a>
													<header>
														<h3>Desarrollo Agil de Software</h3>
													</header>
													<p>Construiras un producto funcional, utilizando las prácticas ágiles más modernas de desarrollo de software.</p>
													<footer>
														<ul class="actions">
															<li><a href="/Curso/DCurso2" class="button alt">Ver detalles</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="/images/curso3.jpg" alt=""></a>
													<header>
														<h3>Certificado de Scrum</h3>
													</header>
													<p>Conoceras las metodologías ágiles y las prácticas de ingeniería que garantizan la calidad de los entregables producidos.</p>
													<footer>
														<ul class="actions">
															<li><a href="/Curso/DCurso3" class="button alt">Ver detalles</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="/images/curso2.jpg" alt=""></a>
													<header>
														<h3>Agile Testing</h3>
													</header>
													<p>Aprenderas a realizar pruebas más efectivas reduciendo el tiempo de pruebas e incrementando la calidad del producto. </p>
													<footer>
														<ul class="actions">
															<li><a href="" class="button alt">Ver detalles</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="/images/curso5.jpg" alt=""></a>
													<header>
														<h3>Taller de Practicas de DevOps</h3>
													</header>
													<p>Conocerás las prácticas DevOps más difundidas y varias herramientas y patrones para su implementación.</p>
													<footer>
														<ul class="actions">
															<li><a href="" class="button alt">Ver detalles</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><img src="/images/curso6.jpg" alt=""></a>
													<header>
														<h3>Proyectos Agiles con Scrum</h3>
													</header>
													<p>Aprenderas los principios fundamentales de las Metodologías Ágiles y de Scrum por medio de dinámicas participativas.</p>
													<footer>
														<ul class="actions">
															<li><a href="" class="button alt">Ver detalles</a></li>
														</ul>
													</footer>
												</section>
											</div>
										</div>
									</section>

							</div>
						
						</div>
					</div>
				</section>

				
</body>

