
<link rel="stylesheet" href="~/css/detalle.css">
<body>
<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="content">

									<!-- Content -->

										<article class="box page-content">

											<header><br><br>
												<center><h2>Taller de Arquitectura Agil</h2></center>
												<ul class="meta">
													<li class="icon fa-clock">16 horas</li>
												</ul>
											</header>

											<section>
												<span class="image featured"><img src="/images/curso1.jpg" alt=""></span>
											</section>

											<section>
												<h3>Descripción</h3>
												<p>
													El objetivo de este workshop es ayudar a los grupos IT a mejorar sus prácticas de arquitectura de software mediante:
                                                    <ul class="lista">
                                                        <li>Un mejor entendimiento de las necesidades del negocio a lo largo de todo el desarrollo del producto.</li>
                                                        <li>Mejorar la calidad técnica a través de la adopción de prácticas continuas y sostenibles.</li>
                                                        <li>Lograr un balance entre innovación, flexibilidad y la estabilidad de la plataforma</li>
                                                        <li>Asegurar la alineación de la arquitectura con la estrategia de negocios</li>
                                                    </ul>    
												</p>
											</section>

											<section>
												<h3>¿Qué voy a aprender?</h3>
												<p>
													La capacitación se realiza a través de presentaciones, actividades y discusiones entre los asistentes, trabajando sobre algunos casos reales y otros casos diseñados para ejercitar técnicas particulares.
                                                    <ul class="lista">
                                                        <li>Un enfoque de Arquitectura de Software iterativo e incremental.</li>
                                                        <li>Una manera de involucrar clientes, usuarios y a todo el equipo en la arquitectura.</li>
                                                        <li>Formas sencillas de trabajar sobre requerimientos no-funcionales.</li>
                                                        <li>Mejoras en la comunicación entre el equipo técnico y las áreas de negocio.</li>
                                                        <li>Prácticas de diseño iterativo y de refactorización de arquitectura</li>
                                                        <li>Una red de contactos profesionales con intereses similares</li>
                                                    </ul>  

                                                </p>
											</section><br>

                                            <section class="horario">
												<h3>Horarios Disponibles</h3>
												<p>Sabatinos</p>
                                                <p>14:00 - 16:00 pm</p>
                                                <p>04/08/20 - 08/08/20</p><br>
                                                <center><a href="#" class="button large">Preinscripcion</a></center>
											</section><br><br>


                                            

										</article>

								</div>
							</div>

						</div>
					</div>
				</section>

</body>